.bus-container{
    width: 300px;
    border: 2px solid grey;
    padding: 10px;
}
.seat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
}
.selectedseat{
    background-color: green;
    color: white;
}
.booked-seat{
    background-color: grey;
    color: white;
    pointer-events: none;
    cursor: disabled;
}